.back{
    background-color: black;
}
.back2{
    background-color: white;
}
.input {
    background-color: black;
    color: rgb(71, 71, 141);
    border: none;
}
.input2{
    background-color: white;
    color: rgb(21, 21, 154);
    border: none;
    
}
.input:focus, input:focus {
    outline: none;
}
.img_size{
    max-width: 100%;
    max-height: 100%;
}

.name{
    color: rgb(18, 215, 18);
}
.name2{
    color: rgb(0, 0, 0);;
}


